<div class="container mt-5">
    <div class="alert alert-danger">
        <h4 class="alert-heading"><%= title %></h4>
        <p><%= message %></p>
        <% if (typeof errorDetail !== 'undefined' && errorDetail) { %>
            <hr>
            <p class="mb-0"><pre><code><%= errorDetail %></code></pre></p>
        <% } %>
    </div>
    <a href="/" class="btn btn-primary">Go to Home</a>
</div>